#contact-content {
	position: fixed;
	top: -18em;
	left: 0.75em;
	width: calc(100% - 1.5em);
	@include transition(top 0.25s ease);
	border: 1px solid $gold;
	border-top: 0px;
	z-index: 100;
	@media screen and (min-width: 768px) {
		top: -8em;
		width: 60%;
		left: 50%;
		@include transform(translateX(-50%));
	}

	&.open {
		top: 0;
	}
	#close-contact-wrapper {
		color: $black;
		font-weight: bold;
		font-size: 0.875em;
		margin: 0;
		position: absolute;
		right: 1em;
		bottom: 0.5em;
		top: initial;
		cursor: pointer;
		@media screen and (min-width: 768px) {
			top: 0.5em;
			bottom: initial;
		}
	}
	#contact-wrapper {
		background-color: $white;
		text-align: center;
		padding: 0.5em 0 1em;
		p {
			margin: 1em 0 0.5em;
			text-align: center;
		}
		p img {
			vertical-align: middle;
		}
		p a {
			border: 0px;
			display: block;
			margin-bottom: 1.5em;
			@media screen and (min-width: 768px) {
				display: inline;
				padding: 0 1em;
				margin: 0;
			}
		}
	}
}