/*
	Base Elements
 */
*, *:before, *:after {
	@include box-sizing(border-box);
	max-width: 100%;
	margin: 0;
	padding: 0;
}
:focus {
	outline: 0px;
}
html, body {
	font-size: 14px;
	@media screen and (min-width: 768px) {
		font-size: 16px;
	}
	line-height: 1.7;
	font-family: $neutra-book;
	background-color: $white;
	color: #444444;
	position: relative;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $neutra-bold;
}

p {
	font-size: 1em;
	line-height: 1.925;
	margin: 1.5em 0;
}
a {
	text-decoration: none;
}
p a {
	border-bottom: 1px solid $gold;
	color: #000;
	@include transition(color 0.25s ease);
	&:hover {
		color: shade($gold, 25);
	}
}
ul, ol {
	margin: 0;
	padding: 0;
}


/*
	Global Elements
 */
#padding-wrapper {
	margin: 0.75em;
	border: 1px solid $gold;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	@media screen and (min-width: 768px) {
		margin: 1.5em;
	}
}
#content-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow: auto;
	margin: 0 auto;
	padding: 0.75em;
	@media screen and (min-width: 768px) {
		padding: 1.5em;
	}
}

#content-padding {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 1.5em 1.5em;
	@media screen and (min-width: 768px) {
		padding: 0 3em 1.5em;
	}
}

/*
	Global Displays
 */
.mobile-only {
	display: initial;
	&.block { display: block; }
	@media screen and (min-width: 768px) {
		display: none !important;
	}
}
.non-mobile {
	display: none;
	@media screen and (min-width: 768px) {
		display: initial;
		&.block { display: block !important; }
	}
}

#contact-content {
	position: fixed;
	top: -7em;
	left: 50%;
	@include transition(top 0.25s ease);
	@include transform(translateX(-50%));
	width: 60%;
	&.open {
		top: 0;
	}
	#close-contact-wrapper {
		color: $black;
		font-weight: bold;
		font-size: 0.875em;
		margin: 0;
		position: absolute;
		right: 1em;
		top: 0.5em;
		cursor: pointer;
	}
	#contact-wrapper {
		background-color: white;
		text-align: center;
		padding: 0.5em 0 1em;
		p {
			margin: 0.5em 0 1em;
			& + p {
				margin-bottom: 0;
			}
		}
		p img {
			vertical-align: middle;
		}
		p a {
			border: 0px;
			padding: 0 1em;
		}
	}
}