header {
	max-width: 1100px;
	margin: 0 auto 5em;
	padding-right: 1.5em;
	padding-left: 1.5em;

	padding-left: 0;

	#logo {
		float: left;
		@media screen and (min-width: 768px) {
			padding: 0 0.5em;
		}
	}

	/*
		Top Navigation
	 */
	.top-nav {
		float: right;
		@media screen and (max-width: 767px) {
			display: none;
		}
		ul {
			display: table;
			margin: 0.5em 0 0;
		}
		li {
			display: table-cell;
		}
		a {
			@include inline-block;
			font: 14px $neutra-book;
			color: $black;
			padding: 0 0.5em;
			margin: 0 0.5em;
		}
	}
}