body.home {

	.title-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -40%));
		text-align: center;
		color: $black;

		h1 {
			font: 4em $neutra-bold;
			margin: 0;
			letter-spacing: 0.17em;
			@media screen and (min-width: 500px) {
				font-size: 7em;
				margin: 32px 0 8px;
			}
			@media screen and (min-width: 675px) {
				font-size: 10.5em;
			}
			@media screen and (min-width: 810px) {
				font-size: 11.5625em;
				margin: 0;
			}
		}
		p {
			font: 1.25em $rbno2-light;
			margin: 0.05em 0;
			letter-spacing: 2px;
			@media screen and (min-width: 500px) {
				font-size: 2.25em;
			}
			@media screen and (min-width: 810px) {
				font-size: 2.8175em;
			}
		}

		.icon-logo {
			font-size: 1.5em;
			line-height: 1.5;
		}
		
	}
}