/*
	Fonts
 */ 
$rbno2-light: "rbno2_lightregular", sans-serif;
$neutra-demi: "Neutraface2Text-Demi", sans-serif;
$neutra-book: "Neutraface2Text-Book", sans-serif;
$neutra-bold: "Neutraface2Text-Bold", sans-serif;

/*
	Colors
 */
$white: #f0f0f0;
$gold: #bdbc6d;
$black: #292929;