////
// Author: Grant Vinson
// Website: waterislife.com
// Import sass files to create 
// main css file for site
////

@import "normalize";
@import "helpers";
@import "compass";
@import "vars";

@import "global";
@import "icons";
@import "grid";
@import "header";
@import "mobilemenu";

@import "home";
@import "about";
@import "work";