
.icon-design {
	background-image: url('png/design.png');
	background-repeat: no-repeat;
}

.icon-develop {
	background-image: url('png/develop.png');
	background-repeat: no-repeat;
}

.icon-logo {
	background-image: url('png/logo.png');
	background-repeat: no-repeat;
}

.icon-mobile {
	background-image: url('png/mobile.png');
	background-repeat: no-repeat;
}

.icon-ux {
	background-image: url('png/ux.png');
	background-repeat: no-repeat;
}